.card-img-top{
    width: 62%;
    height: 171px;
    object-fit: cover;
    border-radius: 50%;
}
.text{
    color: #dbd9cef5;
}
.text-name{
    color: #ffba08;
    font-weight: 600;
}
.Lawyer-btn{
    background: #f9dcc4;
}
.card-body{
    font-family: 'Poppins', sans-serif;
    background: #3f5866;
    border: 1px solid gray;
}
